DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/myspace_db"

JWT_ACCESS_SECRET="change_me_access_secret"
JWT_REFRESH_SECRET="change_me_refresh_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

ADMIN_EMAIL="admin@myspace.com"
ADMIN_PASSWORD="Admin1234!"
ADMIN_NAME="Super"
ADMIN_LASTNAME="Admin"
